In [1]:
import numpy as np
import matplotlib.pyplot as plt 

import pandas as pd  
import seaborn as sns 

%matplotlib inline

In [2]:
from sklearn.datasets import load_boston

In [3]:
boston_dataset = load_boston()

In [4]:
boston = pd.DataFrame(boston_dataset.data, columns=boston_dataset.feature_names)

In [5]:
boston['MEDV'] = boston_dataset.target

In [6]:
print(boston.shape)
boston.head()

(506, 14)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [7]:
from sklearn.model_selection import train_test_split

train, test = train_test_split(boston, test_size = 0.6, random_state=5)

In [8]:
print(train.shape)
train.head()

(202, 14)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
87,0.07151,0.0,4.49,0.0,0.449,6.121,56.8,3.7476,3.0,247.0,18.5,395.15,8.44,22.2
114,0.14231,0.0,10.01,0.0,0.547,6.254,84.2,2.2565,6.0,432.0,17.8,388.74,10.45,18.5
357,3.84970,0.0,18.10,1.0,0.770,6.395,91.0,2.5052,24.0,666.0,20.2,391.34,13.27,21.7
432,6.44405,0.0,18.10,0.0,0.584,6.425,74.8,2.2004,24.0,666.0,20.2,97.95,12.03,16.1
375,19.60910,0.0,18.10,0.0,0.671,7.313,97.9,1.3163,24.0,666.0,20.2,396.90,13.44,15.0

In [9]:
X_train = train.loc[:, train.columns != 'MEDV']
Y_train = train.loc[:, train.columns == 'MEDV']


print(X_train.shape)
X_train.head()

(202, 13)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
87,0.07151,0.0,4.49,0.0,0.449,6.121,56.8,3.7476,3.0,247.0,18.5,395.15,8.44
114,0.14231,0.0,10.01,0.0,0.547,6.254,84.2,2.2565,6.0,432.0,17.8,388.74,10.45
357,3.84970,0.0,18.10,1.0,0.770,6.395,91.0,2.5052,24.0,666.0,20.2,391.34,13.27
432,6.44405,0.0,18.10,0.0,0.584,6.425,74.8,2.2004,24.0,666.0,20.2,97.95,12.03
375,19.60910,0.0,18.10,0.0,0.671,7.313,97.9,1.3163,24.0,666.0,20.2,396.90,13.44

In [10]:
print(Y_train.shape)
Y_train.head()

(202, 1)

     MEDV
87   22.2
114  18.5
357  21.7
432  16.1
375  15.0

In [11]:
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

In [12]:
lin_model = LinearRegression()
lin_model.fit(X_train, Y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [13]:
X_test = test.loc[:, test.columns != 'MEDV']
Y_test = test.loc[:, test.columns == 'MEDV']

print(X_test.shape)
X_test.head()

(304, 13)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
226,0.38214,0.0,6.20,0.0,0.504,8.040,86.5,3.2157,8.0,307.0,17.4,387.38,3.13
292,0.03615,80.0,4.95,0.0,0.411,6.630,23.4,5.1167,4.0,245.0,19.2,396.90,4.70
90,0.04684,0.0,3.41,0.0,0.489,6.417,66.1,3.0923,2.0,270.0,17.8,392.18,8.81
373,11.10810,0.0,18.10,0.0,0.668,4.906,100.0,1.1742,24.0,666.0,20.2,396.90,34.77
273,0.22188,20.0,6.96,1.0,0.464,7.691,51.8,4.3665,3.0,223.0,18.6,390.77,6.58

In [14]:
Y_test_result = lin_model.predict(X_test)

Y_test_result

array([[37.0182257 ],
       [32.9244877 ],
       [27.51903774],
       [ 7.99065648],
       [33.80984413],
       [ 6.89641774],
       [26.64910152],
       [30.06407656],
       [25.96530187],
       [21.96259939],
       [32.19299959],
       [22.31934513],
       [23.4661725 ],
       [34.8101369 ],
       [28.85692676],
       [14.74265051],
       [ 2.46230739],
       [18.21141233],
       [15.355965  ],
       [11.1793732 ],
       [ 2.08262374],
       [18.17417837],
       [38.10220393],
       [24.33138868],
       [32.76275204],
       [12.06646901],
       [24.80743857],
       [23.18226739],
       [22.64227968],
       [20.27095665],
       [16.80162492],
       [ 5.94075514],
       [17.47686763],
       [22.30516244],
       [29.77204663],
       [17.65464658],
       [28.45114659],
       [ 9.9470091 ],
       [41.85663927],
       [35.17574057],
       [19.89014197],
       [ 5.07411984],
       [29.81463452],
       [12.80896161],
       [26.20935527],
       [31.05097175],
       [-4.14925919],
       [20.09410172],
       [20.92897252],
       [13.51246756],
       [20.86777772],
       [20.11162966],
       [22.91434315],
       [14.499023  ],
       [17.44510555],
       [25.50048282],
       [35.13301241],
       [15.90848538],
       [27.47966576],
       [22.30492594],
       [20.87566917],
       [26.57757937],
       [14.16246153],
       [30.9672647 ],
       [20.01879571],
       [12.33203191],
       [19.51220584],
       [25.20701445],
       [21.64545564],
       [20.71049053],
       [20.44412275],
       [26.65019149],
       [17.99397727],
       [19.13601553],
       [18.80402883],
       [26.36928179],
       [21.43365795],
       [15.80113853],
       [35.93859996],
       [17.93492646],
       [21.7842258 ],
       [37.51057915],
       [23.53262007],
       [15.1108673 ],
       [26.70963041],
       [17.37104098],
       [19.06058059],
       [10.69439149],
       [19.30641642],
       [17.18115742],
       [36.50873113],
       [17.88295067],
       [20.67020813],
       [18.81385956],
       [24.29266392],
       [28.03630012],
       [12.01627345],
       [22.1722205 ],
       [21.57026258],
       [13.71357413],
       [22.29216769],
       [21.42566051],
       [14.95547822],
       [44.01236875],
       [ 2.62292207],
       [22.03676316],
       [18.42561373],
       [21.7447998 ],
       [30.05765093],
       [19.25928559],
       [28.1576858 ],
       [25.19707108],
       [20.13011513],
       [33.57370314],
       [19.49551546],
       [13.65700301],
       [23.95835771],
       [18.82971493],
       [19.55719919],
       [16.37680406],
       [22.23191838],
       [36.71157875],
       [22.1882224 ],
       [20.72492913],
       [24.81815799],
       [25.05685434],
       [19.92946994],
       [23.42862803],
       [23.10579135],
       [42.04874647],
       [35.95628191],
       [27.22799439],
       [12.75603012],
       [15.57688226],
       [18.36304677],
       [21.74851327],
       [15.83179765],
       [ 6.57071976],
       [24.07525977],
       [30.3200046 ],
       [23.19714182],
       [18.24894412],
       [16.87743053],
       [21.4111079 ],
       [35.36267737],
       [22.8890909 ],
       [30.17347982],
       [18.79132053],
       [22.32561412],
       [29.65374707],
       [13.31034183],
       [30.59330802],
       [12.52724361],
       [14.71019501],
       [25.39774369],
       [32.61785543],
       [ 8.9416363 ],
       [24.5168695 ],
       [28.61858788],
       [32.3176107 ],
       [16.29531681],
       [30.72845334],
       [11.25719444],
       [35.0097107 ],
       [25.58060411],
       [20.44133423],
       [15.71030287],
       [13.84784419],
       [30.31153464],
       [13.2367543 ],
       [24.73918477],
       [20.10932482],
       [13.15915849],
       [22.22997878],
       [15.16802474],
       [18.13892392],
       [21.53207227],
       [33.91729757],
       [21.84881624],
       [16.98468345],
       [30.86497858],
       [38.6740976 ],
       [27.16069774],
       [25.37459616],
       [15.35601865],
       [16.09698056],
       [34.21942269],
       [21.9248702 ],
       [33.978404  ],
       [25.05156125],
       [20.89970511],
       [16.31155753],
       [23.46067588],
       [19.96813586],
       [30.6117253 ],
       [16.69633326],
       [24.81890993],
       [26.8765261 ],
       [24.40123392],
       [21.68116438],
       [33.34682618],
       [18.69427563],
       [32.40648003],
       [29.06320909],
       [13.89492148],
       [32.49531254],
       [27.92269538],
       [19.61101179],
       [36.20672395],
       [15.03374503],
       [25.34112778],
       [28.49536669],
       [22.66654406],
       [19.00831884],
       [21.50883545],
       [26.21555064],
       [19.57289007],
       [32.6014596 ],
       [24.80757674],
       [19.3041678 ],
       [ 7.88043554],
       [ 5.68736587],
       [22.42126892],
       [19.3188113 ],
       [20.33132306],
       [21.83850178],
       [17.47545868],
       [32.51410294],
       [38.23618205],
       [19.72125958],
       [13.8715838 ],
       [27.63555441],
       [16.85966738],
       [25.31413591],
       [19.19253786],
       [24.20793902],
       [15.59575964],
       [21.676319  ],
       [13.85682591],
       [21.82717544],
       [28.00811183],
       [22.94991671],
       [17.32543463],
       [15.70499875],
       [21.09032017],
       [39.00457686],
       [20.0135422 ],
       [15.96991016],
       [12.54487942],
       [25.18326958],
       [17.78468425],
       [21.52471079],
       [25.46808633],
       [17.77476743],
       [28.13184304],
       [17.49129162],
       [19.13339561],
       [21.50277903],
       [29.90416899],
       [25.09987971],
       [28.77450574],
       [24.75146378],
       [34.00021651],
       [24.7218929 ],
       [23.77287017],
       [21.76192797],
       [34.78498568],
       [18.36947672],
       [29.90441955],
       [28.64695587],
       [14.60665833],
       [35.8388935 ],
       [21.54440971],
       [16.34437941],
       [14.40211969],
       [14.12554682],
       [31.18911272],
       [14.27765605],
       [17.56830666],
       [29.60465005],
       [31.72539169],
       [29.04260749],
       [20.30738123],
       [11.9791188 ],
       [27.82919224],
       [24.36118209],
       [20.61773912],
       [28.91976605],
       [24.83131526],
       [25.25303151],
       [23.37778913],
       [17.66128265],
       [17.06582821],
       [13.49618928],
       [19.22085759],
       [24.90100491],
       [14.07075766],
       [35.28905072],
       [35.26612191],
       [17.93579978],
       [11.61820751],
       [34.28426037],
       [24.87882405],
       [20.6628063 ]])

In [15]:
Y_test["MEDV_PREDICTED"] = Y_test_result

/home/thomas/Downloads/venv/lib/python3.5/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [16]:
Y_test.head()

     MEDV  MEDV_PREDICTED
226  37.6       37.018226
292  27.9       32.924488
90   22.6       27.519038
373  13.8        7.990656
273  35.2       33.809844

In [17]:
from sklearn.metrics import r2_score
from sklearn.metrics import mean_absolute_error as MAE
from math import sqrt


mae_result = MAE(Y_test["MEDV"], Y_test["MEDV_PREDICTED"])
rms_result = sqrt(mae_result)
r2_score_result = r2_score(Y_test["MEDV"], Y_test["MEDV_PREDICTED"])

print("mae_result : ", mae_result)
print("rms_result : ", rms_result)
print("r2_score_result : ", r2_score_result)

mae_result :  3.3608180212002137
rms_result :  1.8332533979786356
r2_score_result :  0.7044142412013028